// Place all the styles related to the drill_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.buffer {
  height: 10px;
}
.page-header {
  text-align: center;
}

.badges {
  display: inline-block;
  img {
    display: inline-block;
    width: 50px;
  }
}
div.badge-checkbox input[type="checkbox"] + img {
  opacity: 0.4;
}
div.badge-checkbox input[type="checkbox"]:checked + img{
    opacity: 1;
}
