a, h1, p, li, label {
  color: #030304;
}

h1 {
  text-align: center;
}

h1#title {
  font-family: 'Bubblegum Sans', cursive;
  color: #030304;
  font-size: 60px;
  text-align: center;
}
p#title {
  font-family: 'Bubblegum Sans', cursive;
  color: #030304;
  font-size: 10px;
}

a#title {
  font-family: 'Bubblegum Sans', cursive;
  color: #030304;
  font-size: 30px;
}
