// Backgrounds:
body {
  background-image: image-url("school.png");
}

.body-colour {
  background-color: #312E2B;
}
// _________________________________________

// NavBar

ul.dropdown-menu {
  background-color: #030304;
}

li.dropdown.open {
  background-color: #030304;
}

// ________________________

// For Welcome Page
  .marquee-div {
    display: flex;
    justify-content: center;
  }

  // Buffer ID's
  #thirty {
    height: 30px;
  }

  #fourty {
    height: 40px;
  }
  #clear-left{
    height: 70px;
    clear: left;
  }



  .navbar {
    background-color: #030304;
    border: none;
    opacity: 0.8;
  }

  .circle {
    height: 130px;
    width: 130px;
    background-color: white;
    border-radius: 50%;
    float: left;
  }

  i.fa {
    height: 100px;
    width: 100px;
    margin-left:25px;
    margin-top:28px;
  }

  i.fa.fa-question {
    height: 100px;
    width: 100px;
    margin-left:40px;
    margin-top:28px;
  }

  .col-buffer-2 {
    width: 74px;
    height: 100px;
    float: left;
  }

  .col-buffer-3 {
    width: 74px;
    height: 100px;
    float: left;
  }
